@tailwind base;
@tailwind components;
@tailwind utilities;

.gradientBorder {
  border: none;
  box-shadow: inset 0 0 0 1px rgba(186,215,247,.12);
}

.gradientBg {
  background: radial-gradient(31.2% 40.91% at 50% 151.14%, #bad6f714 0, rgba(186, 214, 247, 0) 100%), rgba(186, 214, 247, .06);
}

.gradientText {
  background: linear-gradient(0deg,#d8ecf8 0%,#98c0ef 100%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.index-module_type__E-SaG {
  background: linear-gradient(0deg,#d8ecf8 0%,#98c0ef 100%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-size: 90px;
}

.index-module_type__E-SaG::after {
  display: inline-block;
  width: 10px;
  height: 70px;
  vertical-align: middle;
  margin-bottom: 10px;
  background: linear-gradient(0deg,#d8ecf8 0%,#98c0ef 100%);
}

.landingBg {
  background: rgb(24,67,96);
  background: linear-gradient(0deg, rgba(24,67,96,1) 0%, rgba(5,6,15,1) 70%);
}

.landingBgReverse {
  background: rgb(24,67,96);
  background: linear-gradient(180deg, rgba(24,67,96,1) 0%, rgba(5,6,15,1) 70%);
}

.landingEditor .cm-editor {
  background: transparent;
}

.featuresTitle {
  background: linear-gradient(180deg,rgba(24,67,96,1) 0%,#98c0ef 30%, #98c0ef 80%, rgba(24,67,96,1) 100%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}